.header {
  margin-top: 5%;
  margin-bottom: 5%;
}
img[src="./branches.jpg"] {
    width: 500px;
    height: auto;
    margin: 10px;
    border: 1px solid black;
  }
.header-verse {
  width: 30%; 
  margin-left: 10%; 
  margin-top: 10%;
  text-align: center;
  
}
img, 
.header-verse {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.homepage-container {
  /* border: 1px solid black; */
    scroll-snap-type: y mandatory;
    display: flex;
    background-color: rgb(201, 121, 222);
    justify-content: space-around;
    margin-bottom: 2%;
}

.section {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow: hidden; /* Prevent children from overflowing */
  }

.about-app-container {
  scroll-snap-type: y mandatory;
  display: flex;
  background-color: rgb(162, 97, 178);
  justify-content: space-around;
  margin-bottom: 2%;
}

.lets-get-started {
  scroll-snap-type: y mandatory;
  display: flex;
  background-color: rgb(162, 97, 178);
  justify-content: space-around;
  flex-direction: row-reverse;
}
.lets-get-started p {
  text-align: center;
  margin-top: 170px;
}

img[src="./bible.jpg"] {
  width: 500px;
  height: auto;
  margin: 10px;
  border: 1px solid black;
}








  
  
  
  
  
  